**STRUKTUR DATA TUPLE**

In [ ]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
  T11 = 1, "dua", True, 1+2j
  print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data
type(T1)

tuple

In [ ]:
type(T11)

tuple

**Sifat-sifat Tuple**

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak Bisa Diganti/Imutable
T1[2] = "manusia"

TypeError: ignored

In [ ]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tupple T1 adalah:", T1[1])

elemen kedua dari tupple T1 adalah: dua

In [ ]:
#Dapat Diinjiinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#Tdak Dapat Menambahkan Elemen Baru
T1 = (1, "dua", True, 1+2j)
print(f'tuple\: {T1}')

tuple\: (1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [ ]:
#Tdak Dapat Menghapus Elemen
T1 = (1, "dua", True, 1+2j)
print(f'tuple\: {T1}')

tuple\: (1, 'dua', True, (1+2j))

In [ ]:
T1.remove(10)
T1.remove(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

**Menggabungkan Tuple**

In [ ]:
#Menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**LATIHAN 1**

In [ ]:
#Buatlah Tuplemu sendiri
T1 = (4, "opet sipapasi", False, 12+1j)
print("ini adalah tupleku", T1)

ini adalah tupleku (10, 'opet sipapasi', False, (13+1j))

**LATIHAN 2**

In [ ]:
#Buat tuple kedua lalu digabungkan
T2 = (12,20.3, True, 2.12)
T2

(12, 20.03, True, 2.12)

In [ ]:
#menggabungkan
T3 = T1 + T2
T3

(10, 'opet sipapasi', False, (13+1j), 12, 20.03, True, 2.12)

**STRUKTUR DATA LIST**

In [1]:
#contoh list
L1 = [1,4,2,13]
print(type(L1))

<class 'list'>

In [3]:
L2 = ['a','python',3]
print(type(L2))

<class 'list'>

In [4]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'python', 3]

In [10]:
#sifat-sifat list

#terurut/ordered
print('memanggil list L1 dengan indeks urutan:', L1[0:3])

#bisa diganti/mutable
L1[1] = 2
print('list L1 seelah diganti elemennya:', L1)
L1 = [1,'dua',True,2+3j]

#dapat diindeks/slicing
print('slicing list L1:', L1[3])

#dapat diijinkan dupllikasi
L1 = [1,'dua',True,2+3j]
print('duplikasi pada list L1:', L1)

#dapat mengubah data dengan mengganti elemen
L1 = [1,'dua',True,2+3j,2+3j]
L1[2]=3
print('data setelah diubah:',L1)

#dapat menambahkan elemen baru pada data
L1 = [1,'dua',True,2+3j]
L1.append(20)
print('data setelah ditambah elemennya:',L1)

#dapat menghapus elemen pada data
L1 = [1,'dua',True,2+3j]
L1.remove(2+3j)
print('data setelah dihapus elemennya:',L1)

memanggil list L1 dengan indeks urutan: [1, 'dua', True]
list L1 seelah diganti elemennya: [1, 2, True, (2+3j), (2+3j), 20]
slicing list L1: (2+3j)
duplikasi pada list L1: [1, 'dua', True, (2+3j)]
data setelah diubah: [1, 'dua', 3, (2+3j), (2+3j)]
data setelah ditambah elemennya: [1, 'dua', True, (2+3j), 20]
data setelah dihapus elemennya: [1, 'dua', True]

In [11]:
#menanmbahkan data menggunakan fungsi extend
L1 = [1,'dua',True,2+3j]
L1.extend('nanas')
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [14]:
L1 = [1,'dua',True,2+3j]
L1.extend(['nanas'])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [15]:
#menambahkkan data menggunakan fungsi insert
L1 = [1,'dua',True,2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [16]:
#menghapus elemen dari list menggunkan fungsi pop
L1 = [1,'dua',True,2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [17]:
L1 = [1,'dua',True,2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

**Latihan 1**

In [1]:
#buat list sendiri
L1 = [4,'kalkulus',True, 3+12j]
print(L1)

[4, 'kalkulus', True, (3+12j)]

**Latihan 2**

In [9]:
L1 = [4,'kalkulus',True, 3+12j]
print(L1)

#ganti elemen
L1[2] = 'pisang'
print('List L1 setelah diganti elemennya:', L1)

L1[3] = 9
print('data setelah diubah:', L1)

L1.append('garong')
print('data  setelah ditambah elemennya:', L1)

[4, 'kalkulus', True, (3+12j)]
List L1 setelah diganti elemennya: [4, 'kalkulus', 'pisang', (3+12j)]
data setelah diubah: [4, 'kalkulus', 'pisang', 9]
data  setelah ditambah elemennya: [4, 'kalkulus', 'pisang', 9, 'garong']